All_Project_Files\Final_Project_Files\Attendance_System.py
All_Project_Files\Final_Project_Files\Attendance_System.ui
All_Project_Files\Final_Project_Files\ui_Attendance_System.py
All_Project_Files\Final_Project_Files\__pycache__
*.__pycache__
*.pyc
