All_Project_Files\Final_Project_Files\Attendance_System.py
All_Project_Files\Final_Project_Files\Attendance_System.ui
All_Project_Files\Final_Project_Files\ui_Attendance_System.py

*.pyc
test.py

All_Project_Files\Final_Project_Files\Test_Down_Sampling_Image_Screen_ui.py
All_Project_Files\Final_Project_Files\Test_Down_Sampling_Image_Screen.py
All_Project_Files\Final_Project_Files\Test_Down_Sampling_Image_Screen.ui
Test_Down_Sampling_Image_Screen_ui.py